@model TravelBlog.Models.Experience
@{
    ViewData["Title"] = "Lalalalala - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add a new Experience</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Date)
    @Html.EditorFor(model => model.Date)

    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)

    @Html.LabelFor(model => model.LocationId)
    @Html.DropDownList("LocationId")



    <input type="submit" value="Create" class="btn btn-default" />
}
@Html.ActionLink("Back to List", "Index")